<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ErbAsm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ErbEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ErbMol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ErbRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ErbVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Erbium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Molokai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Utils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC5DDDCB14BFA77600CBFD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5DDDD914BFA78C00CBFD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC78C54914C20DC200B7891F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB5A3CD14BF971800705175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB5A3E414BF9A8D00705175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB5A3EC14BF9AA900705175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB5A3F414BF9AC300705175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB5A40214BF9B3300705175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB5A42C14BF9E3A00705175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
